<div class="col-lg-4 offset-lg-4 tasks">
    <nav class="navbar navbar-fixed-top navbar-inverse py-0 bg-primary navbar-toggleable-md py-md-0">
        <button class="navbar-toggler navbar-toggler-right mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Tasks</a>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item"><a (click)="openTaskModal()" class="nav-link custom"><i class="fa fa-plus-circle"></i> Add new task</a></li>
            </ul>
        </div>
    </nav>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Task titles</th>
            <th>Task description</th>
            <th>Task status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status.name }}</td>
        </tr>
        </tbody>
    </table>
</div>

<modal #addTaskModal>
    <form class="add-task" #registerForm = "ngForm" (ngSubmit)="addTask()">
    <modal-header>
        <h4 class="modal-title">¡Add a new Task!</h4>
    </modal-header>
    <modal-body>
        <input [(ngModel)]="task.title" type="text" id="title" #title="ngModel" name="title" class="form-control" placeholder="Title" required autofocus="true">
        <span *ngFor="let err of errors.fields.title" class="form-error-field">{{ err }}</span>
        <textarea [(ngModel)]="task.description" type="textarea" id="description" #description="ngModel" name="description" class="form-control" placeholder="Description" required></textarea>
        <span *ngFor="let err of errors.fields.description" class="form-error-field">{{ err }}</span>
        <select [(ngModel)]="task.status" class="form-control" id="status" #status="ngModel" name="status" required>
            <option value="" disabled selected>Task status</option>
            <option *ngFor="let status of allStatus" value="{{ status.id }}">{{ status.name }}</option>
        </select>
        <span *ngFor="let err of errors.fields.status" class="form-error-field">{{ err }}</span>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dismiss()">Cancel</button>
        <input [disabled]=" !title.valid || !description.valid || !status.valid" type="submit" value="Add task" class="btn btn-primary">
    </modal-footer>
    </form>
</modal>

